# The local credential are exposed here, in case somebody wants to try out the app.
APP_ENV=development
POSTGRES_USER=cookbook_user
POSTGRES_PASSWORD=cookbook_password
POSTGRES_DB=cookbook_db
DATABASE_URL=postgresql+psycopg2://cookbook_user:cookbook_password@localhost:5432/cookbook_db

# Variable that one has to generate himself/herself locally by running `python -c "import secrets; print(secrets.token_hex(32))"`
FLASK_APP=generate-your-hash